<div class "container">
    {{#if recipies.length}} 
    <section>
        <ul>
            {{#each recipies as |recipie|}}
            <li>
                 {{> recipie-info recipie}}
            <a href="/dashboard/edit/{{recipie.id}}" class="edit-link">edit recipie</a>
            </li>
            {{/each}}
        </ul>
    </section>
     {{/if}} 
</div>