<link rel="stylesheet" href="/css/container.css">


<div>
    <div class="draggable" data-value={{recipe_name}}  draggable="true">

        <p class="title">
            {{recipe_name}}
        </p>
        <p class="subtitle">
            {{description}}
        </p>
        <p>
            {{prep_time}}
        </p>

        {{#if is_spicy}}
        <p>
            Spicy!
        </p>
        {{/if}}

        {{!-- {{#if loggedIn}} --}}
        <button id="add-to-planner" class="btn btn-success">add to planner</button>
        {{!-- {{/if}} --}}

    </div>

</div>




{{!-- {{#if loggedIn}} --}}
<script src="/js/add-to-planner.js"></script>
<script src="/js/container.js"></script>
{{!-- {{/if}} --}}
