<link rel="stylesheet" href="/css/container.css">


<div>
    <div class="draggable" data-value={{recipe_name}}  draggable="true">

        <p class="title">
            {{recipe_name}}
        </p>
        <p class="subtitle">
            {{description}}
        </p>
        <p>
            {{prep_time}}
        </p>

        {{#if is_spicy}}
        <p>
            Spicy!
        </p>
        {{/if}}

        <button id="add-to-planner">add to planner</button>
    </div>

</div>




{{#if loggedIn}}
<script src="/js/planner.js"></script>
<script src="/js/container.js"></script>
{{/if}}
