<h2>Your Planned Meals</h2>
<p>Drag a recipe into a day of the week.
    Want to try a new recipe?
    Try searching for one</p>
<div class="row">
    <div class="col-5">
        <button class="saveCal btn-small btn btn-warning" data-user={{user_id}}>
            <span class="p-0"><i class="fas fa-cart-arrow-down p-0"></i></span>
            Save meal plan</button>
        <div class="day-container cal" id="Sunday">
            Sunday
        </div>
        <div class="day-container cal" id="Monday">
            Monday
        </div>
        <div class="day-container cal" id="Tuesday">
            Tuesday
        </div>
        <div class="day-container cal" id="Wednesday">
            Wednesday
        </div>
        <div class="day-container cal" id="Thursday">
            Thursday
        </div>
        <div class="day-container cal" id="Friday">
            Friday
        </div>
        <div class="day-container cal" id="Saturday">
            Saturday
        </div>
    </div>
    <div class="col-7">
        <form class="search-recipe-form form-inline">
            <input type="text" id="pickedRecipe" placeholder="Search Recipes" />

            <button type="submit" class="btn btn-small btn-warning">
                <span class="p-0"><i class="fas fa-search p-0"></i></span>
                Search</button>
        </form>
        <a href=" dashboard/addRecipes"><button  class="btn-small btn btn-warning mb-3 mx-4">
            <span class="p-0"><i class="fas fa-plus p-0"></i></span>
            Add New Recipe</button></a>

            <div class="row day-container cal" id="added-recipe">
                <h3>Drag a Recipe to Plan your Meals for the week</h3>
            
                {{#each recipes as |recipe|}}

                    {{> recipe-info recipe}}

                {{/each}}
            </div>
        {{!-- <ul class="row" id="added-recipe" draggable="true">
            {{#each recipes as |recipe|}}

            {{> recipe-info recipe}}

            {{/each}}
        </ul> --}}
    </div>
</div>


<link rel="stylesheet" href="/css/style.css">

<script src="/js/save-cal.js"></script>
<script src="/js/container.js"></script>
<script src="/js/search-recipe.js"></script>
<script src="/js/cal.js"></script>