<h2>Your Planned Meals</h2>
<p>Drag a recipe into a day of the week.
    Want to try a new recipe?
    Try searching for one</p>
<div class="row">

    <div class="col-5 week">

        <button class="saveCal btn-small btn btn-warning" data-user={{user_id}}>
            <span class="p-0"><i class="fas fa-cart-arrow-down p-0"></i></span>
            Save meal plan</button>
        <div class="day-container cal" id="Sunday" ondrop="onDrop(event);" ondragover="onDragOver(event);">
            Sunday
        </div>
        <div class="day-container cal" id="Monday" ondrop="onDrop(event);" ondragover="onDragOver(event);">
            Monday
        </div>
        <div class="day-container cal" id="Tuesday" ondrop="onDrop(event);" ondragover="onDragOver(event);">
            Tuesday
        </div>
        <div class="day-container cal" id="Wednesday" ondrop="onDrop(event);" ondragover="onDragOver(event);">
            Wednesday
        </div>
        <div class="day-container cal" id="Thursday" ondrop="onDrop(event);" ondragover="onDragOver(event);">
            Thursday
        </div>
        <div class="day-container cal" id="Friday" ondrop="onDrop(event);" ondragover="onDragOver(event);">
            Friday
        </div>
        <div class="day-container cal" id="Saturday" ondrop="onDrop(event);" ondragover="onDragOver(event);">
            Saturday
        </div>
    </div>

    <div class="col-7 my-recipes">
        <form class="search-recipe-form form-inline row">
            <input type="text" id="pickedRecipe" class="col-8" placeholder="Search Recipes" />


            <button type="submit" class="col-4 btn btn-small btn-warning search-button">
                <span class="p-0"><i class="fas fa-search p-0"></i></span>
                Search</button>
        </form>
        <a href=" dashboard/addRecipes"><button class="btn-small btn btn-warning mb-3 mx-4">
                <span class="p-0"><i class="fas fa-plus p-0"></i></span>
                Add New Recipe</button></a>

        <h5>Drag a recipe to plan your meals for the week</h5>
        <div class="row" id="added-recipe">
            {{#each recipes as |recipe|}}

            {{> recipe-info recipe}}

            {{/each}}
        </div>
        <div class="row mx-2 day-container border" id="Trash" ondrop="onDrop(event);" ondragover="onDragOver(event);">
            <h5>Remove recipe by dragging recipe here</h5>
        </div>
    </div>
</div>


<link rel="stylesheet" href="/css/style.css">

<script src="/js/load-cal.js"></script>
<script src="/js/save-cal.js"></script>
<script src="/js/drag-drop.js"></script>
<script src="/js/search-recipe.js"></script>