<h2>Your Planned Meals</h2>
<p>Drag a recipe into a day of the week.
    Want to try a new recipe?
    Try searching for one</p>
<div class="row">
    <div class="col-5">
        <button class="saveCal btn btn-warning" data-user={{user_id}}>Save your meal plan</button>
        <div class="day-container cal" id="Sunday">
            Sunday
        </div>
        <div class="day-container cal" id="Monday">
            Monday
        </div>
        <div class="day-container cal" id="Tuesday">
            Tuesday
        </div>
        <div class="day-container cal" id="Wednesday">
            Wednesday
        </div>
        <div class="day-container cal" id="Thursday">
            Thursday
        </div>
        <div class="day-container cal" id="Friday">
            Friday
        </div>
        <div class="day-container cal" id="Saturday">
            Saturday
        </div>
    </div>
    <div class="col-7">
        <form class="search-recipe-form form-inline">
            <input type="text" id="pickedRecipe" placeholder="Search Recipes" />
            <button type="submit" class="btn btn-success ">Search</button>
        </form>
        <a href=" dashboard/myRecipes" class="btn btn-warning mb-2">Add New Recipe</a>
        <ul class="list-group">
            {{#each recipes as |recipe|}}
            <li>
                {{> recipe-info recipe}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>


<link rel="stylesheet" href="/css/style.css">

<script src="/js/container.js"></script>
<script src="/js/search-recipe.js"></script>
<script src="/js/cal.js"></script>