<h2>Your Planned Meals</h2>
<p>Drag your recipe into whatever day of the week. Enjoy!</p>
<div class="row">
    <div class="col-5">
        <div class="container cal" id="Sunday">
            Sunday
        </div>
        <div class="container cal" id="Monday">
            Monday
        </div>
        <div class="container cal" id="Tuesday">
            Tuesday
        </div>
        <div class="container cal" id="Wednesday">
            Wednesday
        </div>
        <div class="container cal" id="Thursday">
            Thursday
        </div>
        <div class="container cal" id="Friday">
            Friday
        </div>
        <div class="container cal" id="Saturday">
            Saturday
        </div>
    </div>
    <div class="col-7">
        <a href="dashboard/myRecipes" class="btn btn-warning mb-2 col-6">Add New Recipe</a>
        <form class="search-recipe-form">
            <div class="row">
                <div class="col-5">
                    <input type="text" class="form-control mb-1" id="pickedRecipe" placeholder="Search Recipes" />
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>
        <ul class="list-group">
            {{#each recipes as |recipe|}}
            <li>
                {{> recipe-info recipe}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>


<link rel="stylesheet" href="/css/container.css">

<script src="/js/container.js"></script>
<script src="/js/search-recipe.js"></script>