<p>Drag your recipe into whatever day of the week. Enjoy!</p>
<div class="container cal" id="monday">
        Monday
</div>
<div class="container cal" id="Tuesday">
    Tuesday
</div>
<div class="container cal" id="Tuesday">
    Wednesday
</div>
<div class="container cal" id="Tuesday">
    Thursday
</div>
<div class="container cal" id="Tuesday">
    Friday
</div>
<div class="container cal" id="Tuesday">
    Saturday
</div>
<div class="container cal" id="Tuesday">
    Sunday
</div>

<ul class="recipe-list">
    {{#each recipes as |recipe|}}
    <li>
        {{> recipe-info recipe}}
    </li>
    {{/each}}
</ul>



    <link rel="stylesheet" href="/css/container.css">

        <script src="/js/container.js"></script>
