<div class="form-container col-9">
    <h2 class="pb-3">Login</h2>
    <form class="login-form col-6">
        <div class="pb-3">
            <label class="form-label" for="email-login">Email:</label>
            <input class="form-control" type="text" id="email-login" />
        </div>
        <div class="pb-3">
            <label class="form-label" for="password-login">Password:</label>
            <input class="form-control" type="password" id="password-login" />
        </div>
        <div class="pb-3">
            <button class="btn btn-warning" type="submit">Login</button>
        </div>
        <a class="text-secondary" href="./sign-up">Don't have an account? Click here to sign up.</a>
    </form>
</div>


<script src="/js/login.js"></script>