{{#unless recipes.length}}
<div class="subtitle">
    You have not added any recipes. Click the add recipe button to get started
</div>
{{/unless}}
{{#each recipe}}
<article class="recipe">
    <div class="title">
        {{recipe_name}}
    </div>
    <div class="meta">
        {{description}}
    </div>
</article>
{{/each}}