<div class="form-container col-9">
    <h2 class="pb-3">Sign Up</h2>
    <form class="signup-form col-6">
        <div class="pb-3">
            <label class="form-label" for="username-signup">Enter a Username:</label>
            <input class="form-control" type="text" id="username-signup" />
        </div>
        <div class="pb-3">
            <label class="form-label" for="email-signup">Enter an Email:</label>
            <input class="form-control" type="text" id="email-signup" />
        </div>
        <div class="pb-3">
            <label class="form-label" for="password-signup">Enter a Password:</label>
            <input class="form-control" type="password" id="password-signup" />
        </div>
        <div class="pb-3">
            <button class="btn btn-warning" type="submit">Sign up</button>
        </div>
    </form>
</div>

<script src="/js/sign-up.js"></script>