{{> recipe-info recipe}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
        <button type="button" class="planner-btn">add to meal plan</button>
    </div>
</form>
{{/if}}

{{> comments recipe.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}